main {
    padding: 0 16px;
    box-sizing: border-box;
    min-height: 100vh;
    scrollbar-gutter: stable;
}

.create-card {
    display: flex;
    align-items: flex-end;
    gap:16px;
    justify-content: center;
    padding: 24px 0;
}

.card {
    margin: 12px;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 0 12px grey;
    box-sizing: border-box;
}

.card-mobile {
    margin: 16px 0;
}

.board {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-height: 83vh;
    min-height: 83vh;
    list-style-type: none;
    padding: 0
}

.board-mobile {
    flex-direction: column;
    align-items: center;

}

.task-list {
    max-height: 60vh;
    overflow-y: auto;
    list-style-type: none;
    margin-top: 8px;
}

.task {
    margin: 4px 0;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.task.dragging {
    cursor: grabbing;
}

/*ladny scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}


/* drop indicator*/

.drop-indicator {
    width: 100%;
    margin-left: 0;
    height: 4px;
    outline: none;
    background: transparent;
    border-radius: 5px;
}

.drop-indicator:last-child {
    margin-bottom: 0;
}

.drop-indicator.drop-target {
    background: grey;
}