.container {
    min-height: 100vh;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 90% 5%;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 8px;
}

main {
  min-height: 100%;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.dashboard {
    min-height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.create-card {
    display: flex;
    align-items: flex-end;
    gap:16px;
    justify-content: center;
    padding: 20px 0;
}

.card {
    margin: 12px;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    max-width: 270px;
    box-shadow: 0 0 12px grey;
    box-sizing: border-box;
}

.card-mobile {
    margin: 16px 0;
}

.board {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-height: 100%;
    min-height: 100%;
    list-style-type: none;
    padding: 0;
    max-width: 100vw;
}

.board-mobile {
    flex-direction: column;
    align-items: center;
}

.task-list {
    overflow-y: auto;
    list-style-type: none;
}

.task {
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.task.dragging {
    cursor: grabbing;
}

/*ladny scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

/* drop indicator*/
.drop-indicator {
    width: 100%;
    margin-left: 0;
    height: 6px;
    outline: none;
    background: transparent;
    border-radius: 5px;
}

.drop-indicator:last-child {
    margin-bottom: 0;
}

.drop-indicator.drop-target {
    background: #ddd;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: inherit;
    min-height: 100%;
}

.index-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 4px;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.index-actions {
    display: flex;
    gap: 16px;
}